body {
  background-color: #eee;
  text-align: center;
}
#header {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #fff;
  border: 1px solid black;
}
#links {
  display: inline;
}
#column1 {
  width: 44.5%;
  margin: 2%;
  padding: 0.5%;
  border: 1px solid black;
  background-color: #fff;
  float: left;
}
#column2 {
  width: 44.5%;
  margin: 2%;
  padding: 0.5%;
  border: 1px solid black;
  background-color: #fff;
  float: right;
}
#footer {
  margin: 2%;
  border: 1px solid black;
  background-color: #fff;
  clear: both;
}
#dice {
  margin: 1%;
}
