body {
  background-color: #eeeeee;
  text-align: center;
}
#header {
  background-color: #ffffff;
  border: 1px solid black;
}
#links {
  display: inline;
}
#column1 {
  border: 1px solid black;
  float: left;
}
#column2 {
  border: 1px solid black;
  float: right;
}
#footer {
  clear: both;
}
