body {
  background-color: #999;
}
#back {
  display: block;
  text-align: center;
  width: 100px;
  margin: 0.5%;
  padding: 0.5%;
  border: 1px solid black;
  background-color: #fff;
  float: left;
}
#hex {
  display: block;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  position: relative; top: 50%; margin-top: -32px;
  margin-top: 32px;
  text-align: center;
}
